.features {
  display: flex;
  justify-content: space-between;

  padding-bottom: 80px;
  padding-top: 80px;
}

.features--left {
  width: 40%;
}

.features--right {
  width: 40%;
}

.features--left--title {
  font-size: 56px;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
  width: 10ch;
}
.features--left--text {
  font-size: 18px;
  font-weight: 300;
  color: #696969;
  width: 50ch;
  text-wrap: balance;
}

.features--right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.features--right--item {
  position: relative;
  padding-bottom: 32px;
  /* Adjust as needed for spacing */
}
.features--right--item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  /* Thickness of the line */
  background-color: #e0e0e0;
  /* Color of the line */
  margin-top: 10px;
  /* Adjust spacing between text and line if needed */
}

.features--right--item--img {
  background-color: #105446;
  color: #cef37f;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  padding: 10px;
}
.features--right--item--title {
  margin-bottom: 8px;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 300;
}
.features--right--item--text {
  margin: 0;
  font-size: 18px;
  letter-spacing: -3;
  color: #696969;
  width: 40ch;
  text-wrap: balance;
}
