.ourMission {
  padding-bottom: 80px;
  padding-top: 80px;
}

.ourMission--article {
  font-size: var(--font-size-lg);
  max-width: 60ch;
  text-wrap: balance;
  line-height: 1.5;
  font-weight: 300;
}

.ourMission--right {
  display: flex;
  justify-content: flex-end;
  margin-top: 140px;
  gap: 100px;
}
.ourMission--right--title {
  font-size: var(--font-size-xl);
  font-weight: 300;
}
.ourMission--right--text {
  width: 40ch;
  text-wrap: balance;
  font-size: var(--font-size-md);
  color: #696969;
}
